.container{
    width: 100%;
    height: 100%;
    padding-top: 12%;
    padding-bottom: 12%;

    font-family: 'Open Sans', sans-serif;
    // background: rgb(156,232,248);
    // background: linear-gradient(135deg, rgba(156,232,248,1) 12%, rgba(0,212,255,1) 44%, rgba(61,61,197,1) 88%);
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/897/557/non_2x/elegant-blue-wave-abstract-background-abstract-blue-wave-gradient-background-illustration-vector.jpg);
    
    // https://static.vecteezy.com/system/resources/previews/006/897/557/non_2x/elegant-blue-wave-abstract-background-abstract-blue-wave-gradient-background-illustration-vector.jpg
    // https://static.vecteezy.com/system/resources/previews/006/154/513/non_2x/blue-wave-abstract-background-blue-gradient-waving-shape-background-elegant-blue-wave-background-free-vector.jpg
    // https://static.vecteezy.com/system/resources/previews/005/880/496/non_2x/background-with-blue-gradient-free-vector.jpg
     
    background-size: 100% 100%;
    background-attachment: fixed;
    // color: white;
}

.row{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#bienvenida{
    text-align: center;
    align-content: center;
}

.card{
    width: 100%;
    text-align: center;
}

.input-group{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px; 
}

.input-group-prepend{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.checkbox{
    display: flex;
    justify-content: start;
}