<app-header></app-header>

<div class="cont">
    <div class="py-5 text-center">
        <h3>Preguntas frecuentes</h3>
    </div>
    
    <div class="row">
        <div class="col-lg-6 col-md-6">
    
            <p class="d-inline-flex gap-1">
                <a class="btn btn-info" data-bs-toggle="collapse" href="#p1" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-angle-right"></i> ¿Cuál es la duración del código QR?</a>
            </p>
            <div>
                <div class="collapse" id="p1">
                    <div class="card card-body">
                        El código QR tiene una duración de 24 horas desde que es generado, por lo tanto, cada día se crea un nuevo código automáticamente para garantizar la seguridad.
                    </div>
                </div>
            </div>
    
            <p class="d-inline-flex gap-1">
                <a class="btn btn-info" data-bs-toggle="collapse" href="#p2" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-angle-right"></i> ¿Por qué no puedo acceder a la sección de “Análisis estadístico”?</a>
            </p>
            <div>
                <div class="collapse" id="p2">
                    <div class="card card-body">
                        La sección de análisis estadístico está habilitada únicamente para aquellos usuarios que son del tipo administrativo, por lo tanto todos los usuarios de un tipo distinto al mencionado no podrán acceder al contenido de esta sección.
                    </div>
                </div>
            </div>
    
            <p class="d-inline-flex gap-1">
                <a class="btn btn-info" data-bs-toggle="collapse" href="#p3" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-angle-right"></i> ¿Para qué sirve la sección de “Ver datos personales”?</a>
            </p>
            <div>
                <div class="collapse" id="p3">
                    <div class="card card-body">
                        Esta sección de la aplicación es la que puede observarse una vez que el personal de la entrada o salida de las instalaciones escanea el código QR; de esta forma el personal encargado puede validar que el usuario registrado es realmente quien presenta el código, mientras que el propio usuario puede revisar que datos personales se están proporcionando.
                    </div>
                </div>
            </div>

            <p class="d-inline-flex gap-1">
                <a class="btn btn-info" data-bs-toggle="collapse" href="#p4" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-angle-right"></i> ¿Por qué en la sección de “Editar datos personales” no puedo modificar el tipo de usuario?</a>
            </p>
            <div>
                <div class="collapse" id="p4">
                    <div class="card card-body">
                        El tipo de usuario no puede modificarse debido a que con base en este dato la aplicación web permite realizar ciertas acciones; además, proporciona un mayor grado de seguridad para la identificación del usuario durante el ingreso a las instalaciones.<br>
                        <strong>Importante:</strong> Si por alguna razón registró incorrectamente el tipo de usuario y necesita cambiarlo, deberá acudir de forma presencial y con una identificación vigente al área administrativa de la ESCOM, para realizar el trámite de cambio. 
                    </div>
                </div>
            </div>
    
            <p class="d-inline-flex gap-1">
                <a class="btn btn-info" data-bs-toggle="collapse" href="#p5" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-angle-right"></i> ¿Por qué en la sección de “Editar datos personales” no puedo modificar mi identificador de usuario?</a>
            </p>
            <div>
                <div class="collapse" id="p5">
                    <div class="card card-body">
                        El identificador de usuario es un dato que se asigna o registra únicamente una vez dependiendo del tipo de usuario, es por esta razón que no debe de ser modificado por ningún motivo.<br>
                        Además, el usuario es responsable de no compartirlo con nadie y siempre recordarlo, debido a que este dato es necesario para el inicio de sesión en la aplicación.
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-6 col-md-6" id="imagen">
            <img src="assets/Preguntas.png" class="img-fluid" alt="Imágen de sección de preguntas.">
        </div>
    </div>
</div>

<app-footer></app-footer>
