<header>
    <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand"><i class="fa-solid fa-shield-halved"></i> ESS ESCOM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/codigo"><i class="fa-solid fa-qrcode"></i> Código QR</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-address-book"></i> Datos personales
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/verDatos"><i class="fa-solid fa-eye"></i> Ver</a></li>
                  <li><a class="dropdown-item" routerLink="/editarDatos"><i class="fa-solid fa-user-pen"></i> Editar</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/preguntas"><i class="fa-solid fa-comments"></i> Preguntas frecuentes</a>
              </li>
            </ul>
            <button class="btn btn-light" type="button" routerLink="/login">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></button>
          </div>
        </div>
    </nav>
</header>
