<footer class="bd-footer bg-body-tertiary">
    <div class="container py-md-5 px-4 px-md-3 text-body-secondary">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
            <span class="fs-5"><i class="fa-solid fa-shield-halved"></i> ESS ESCOM</span>
          </a>
          <ul class="list-unstyled small">
            <li class="mb-2">© Todos los derechos reservados.</li>
            <li class="mb-2">Última actialización enero 2024.</li>
          </ul>
        </div>
      </div>
    </div>
</footer>
