.cont{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: rgb(215, 236, 254);
}

.alert{
    text-align: justify;
}

#codigo{
    display: flex;
    justify-content: center;
}

img{
    max-width: 70%;
}