<app-header></app-header>

<div class="cont">
    <div class="py-5 text-center">
        <h3>Código QR</h3>
    </div>

    <div class="alert alert-warning" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i>
        Importante: recuerda que este código QR debe de ser utilizado únicamente para el registro de entradas o salidas de las instalaciones de la ESCOM; además de que al escanearse permite llevar un control estadístico de la población que se encuentra en la institución, es por esa razón que te pedimos hacer un uso responsable del código.
    </div>

    <p></p>
    <div id="codigo">
        <img src="assets/qr.png" class="img-fluid" alt="Código QR">
    </div>
</div>

<app-footer></app-footer>
